.header{
    // background: rgb(185, 103, 129);
    background: rgb(211, 208, 212);
    // background: rgb(136, 136, 49);
    
    // color: rgb(123, 88, 136);   
    color: rgb(123, 88, 136);   
}

.headcard{
    padding: 0px;    
}
