.login-card{
    width: 300px;
    height: 350px;
    color: rgb(123, 88, 136);
    margin-top: 5%;
}

.toolbar{
    background: rgb(123, 88, 136);;
    color: white;
}

.network-card{
    margin-top: 10%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;    
    z-index: -10;
}
